@model VinEcom.Invoices.Web.Models.Pager
@{
    RouteValueDictionary tRvd = Model.ValueDictionary;
    int currentPage = Model.CurrentPage;
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
    <div class="table-footer">
        <div class="form-group pull-left" style="margin-bottom: 10px;">
        </div>
        <ul class="pagination pull-right">
            @{
                tRvd.Remove("pageIndex");
                tRvd.Add("pageIndex", 1);
            }
            @if (Model.CurrentPage == 1)
            {
                <li class="previous disabled"><a href="javascript:void(0)">&larr; Đầu trang</a></li>
                <li class="disabled"><a href="javascript:void(0)">«</a></li>
            }
            else
            {
                <li class="previous"><a href="@Url.Action(currentAction, tRvd)">&larr; Đầu trang</a></li>
                tRvd.Remove("pageIndex");
                tRvd.Add("pageIndex", currentPage - 1);
                <li><a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), tRvd)">«</a></li>

            }
            @for (int i = 1; i <= ViewBag.PageListCount; i++)
            {
                tRvd.Remove("pageIndex");
                tRvd.Add("pageIndex", i);
                if (currentPage == i)
                {
                    <li class="active"><a title="Trang @i" href="@Url.Action(currentAction, tRvd)">@i</a></li>

                }
                else
                {
                    <li><a title="Trang @i" href="@Url.Action(currentAction, tRvd)">@i</a></li>

                }
            }
            @if ((ViewBag.PageListCount) == currentPage)
            {
                <li class="disabled"><a href="javascript:void(0)">»</a></li>
                tRvd.Remove("pageIndex");
                tRvd.Add("pageIndex", ViewBag.PageListCount + 1);
                <li class="next disabled"><a href="javascript:void(0)">&rarr; Cuối trang</a></li>
            }
            else
            {
                tRvd.Remove("pageIndex");
                tRvd.Add("pageIndex", currentPage + 1);
                <li><a href="@Url.Action(currentAction, tRvd)">»</a></li>
                <li class="next"><a href="@Url.Action(currentAction, tRvd)">&rarr; Cuối trang</a></li>
            }
        </ul>
    </div>
}
